h1 {

	font-family: 'Bitter', serif;
}
h2 {

	font-family: 'Bitter', serif;
}

h3 {

	font-family: 'Source Sans Pro', sans-serif;
}

ol {

	font-family: 'Source Sans Pro', sans-serif;
}

p {

	font-family: 'Source Sans Pro', sans-serif;
}

#content{

	margin-left: 100px;
}

#header{
	margin-left: 50px;
	margin-top: 20px;

}

#tip{
	margin-top: -15px;
	font-style: italic;
}

.text{
	max-width: 900px;
}

#ref{
	font-style: italic;
}

.message_box{
	width: 80%;
	height: 7em;
}
